<table>
  <thead>
    <th>Title</th>
    <th>Link</th>
  </thead>
  <tbody>
    <!-- [ngClass]="{ gold: i === 99, blue: true }" -->
    <!-- <tr *ngFor="let book of books">
      <zs-book-preview [book]="book"></zs-book-preview>
    </tr> -->
    {{
      foo()
    }}
    <tr>
      <td></td>
      <td><a routerLink="new">➕</a></td>
    </tr>
    <tr
      zs-book-preview
      *ngFor="let book of books$ | async"
      [book]="book"
      (bookChanges)="ping($event)"
    ></tr>
  </tbody>
</table>
